<a href="https://colab.research.google.com/github/lanashin/Data_Analitycs2/blob/main/classwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
patient_2 = {}
patient_2 ['first_name'] = 'Jean'
patient_2['last_name'] = 'picard'
print(patient_2)

{'first_name': 'Jean', 'last_name': 'picard'}

In [ ]:
patient_4 = {
    'first_name': "Lana",
    'last_name':"Shindler",
    'age': "25",
    'city': "Brooklyn",
    'cunyID': "1234567",

}
print(patient_4)

{'first_name': 'Lana', 'last_name': 'Shindler', 'age': '25', 'city': 'Brooklyn', 'cunyID': '1234567'}

In [ ]:
student_1 = {
    'name': "Inbal",
    'age': "43"
}
student_2 = {
    'name': "Liora",
    'age': "30"
}
student_3 = {
    'name': "Savanna",
    'age': "22"
}
student_4 = {
    'name': "Nicholas",
    'age': "4"
}
student_5 = {
    'name' : "Topaz",
    'age' : "27"
}
print(student_3)

{'name': 'Savanna', 'age': '22'}

In [ ]:
print("Student_3 's age is " + student_3['age'])

Student_3 's age is 22

In [ ]:
print("Patient's 4 last name is " + patient_4['last_name'])

Patient's 4 last name is Shindler

In [ ]:
print("Student 2's name is "+ student_2['name'])

Student 2's name is Liora

In [ ]:
print("Patient_4's city is " + patient_4['city'])

Patient_4's DOB is Brooklyn

In [ ]:
friends_ages = {
    'nick': "30",
    'amanda': "34",
    'john': "36",
    'haley' : "26"
}

fav_friends = ['nick', 'amanda']
for name in friends_ages.keys():
  print(name.title())

  if name in fav_friends:
    print("Hi" + name.title() + ", i see you're " + friends_ages[name])

Nick
HiNick, i see you're 30
Amanda
HiAmanda, i see you're 34
John
Haley

In [ ]:
prompt = "Input a message. I will repeat it until you type 'quit' "

active  = True
while active: 
  message = input(prompt)

  if message == "quit":
    active = False

  else:
    print(message)

Input a message. I will repeat it until you type 'quit' quit

In [ ]:
def greeting_2(first_name, last_name, age):
  "Greets someone by first and last name"
  print("My name is " + first_name + " " + last_name)
  print("I am " + str(age) + " years old")

greeting_2(first_name = 'Paul', last_name = "John", age = 43)
greeting_2(age=43, first_name = 'Paul', last_name = "John")

My name is Paul John
I am 43 years old
My name is Paul John
I am 43 years old