<a href="https://colab.research.google.com/github/lanashin/Data_Analitycs2/blob/main/Unit%203%20-%20Python%20Advanced/Assignments/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [1]:
import numpy as np

In [2]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [4]:
highest = np.where(np_olympic_country_Gold == np.max(np_olympic_country_Gold))
print("Max number of Gold medals", np.max(np_olympic_country_Gold))
print('The country with max number of gold medals is:',np_olympic_country[highest])

Max number of Gold medals 46
The country with max number of gold medals is: ['US']

## 3.	Find countries with more than 20 gold medals

In [14]:
#more_than_20 = np_olympic_country_Gold >20
#print(more_than_20)

In [15]:
np_olympic_country_Gold[more_than_20]
country= np.where(np_olympic_country_Gold>20)
print('The countries with more than 20 medals are: ', np_olympic_country[country])

The countries with more than 20 medals are:  ['GBR' 'China' 'RUS' 'US']