<a href="https://colab.research.google.com/github/lanashin/Data_Analitycs2/blob/main/SQL/asignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Name: Lana Shindler

SQL, SELECT, WHERE, DISTINCT practice

1. Write a select statement to return all columns and rows from the customer table.

  Answer: SELECT * FROM customer;

2. Write a query to select first name, last name, and email form customer tabel. 

  Answer: SELECT first_name, last_name, email FROM customer;

3. Write a query to return all rows and from film table.

  Answer: SELECT * FROM film;

4. Write a query to return unique rows from the release_year column in the film table.

  Answer: SELECT DISTINCT release_year FROM film;

5. Write a query to return unique rows from the rental_rate column in the film table.

  Answer: SELECT DISTINCT rental_rate FROM film;

6. A customer left us some feedback about our store. Write a query to find her email address - for Nancy Thomas.

    ANSWER: SELECT email FROM customer WHERE first_name = 'Nancy';

7. We're trying to find customer located at a certain address '259 ipoh Drive' - can you find thier phone number?

  Answer: SELECT phone FROM address WHERE address = '259 Ipoh Drive';

8. Write a query from the cusotmer table, where store id is 1 and address id is greater than 150.

  Answer: SELECT * FROM customer WHERE store_id = 1 AND address_id > 150;

9. Write a query from the payment table where the amount is either 4.99 or 1.99

  Answer: SELECT * FROM payment WHERE amount = 4.99 OR amount = 1.99;

10. Write a query to return a list of transitions form payment table where the amount is greater than 5.

  Answer: SELECT * FROM payment WHERE amount >5;