<a href="https://colab.research.google.com/github/lanashin/Data_Analitycs2/blob/main/SQL/joins_and_unions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Name: Lana Shindler 

Joins and Unions

1. Join the film to the film_actor table.

  Answer: SELECT film.film_id, film.tittle, film.description, film.release_year, film.language_id, film.rental_duration, film.rental_rate, film.length, film.replacement_cost, film.rating, film.last_update, film.special_features, film.fulltext, actor_id
  FROM film
  FULL JOIN film_actor
  ON film.film_id = film_actor.film_id;

2. Join the actor to the film_actor table.

  Answer: SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update, film_actor.film_id
  FROM actor
  FULL JOIN film_actor
  ON actor.actor_id = film_actor.actor_id;

3. Try to join the actor, film_actor and film table together.

  Answer: SELECT film.film_id, film.title, film.description, film.release_year, film.language_id, film.rental_duration, film.rental_rate, film.length, film.replacement_cost, film.rating, film.last_update, film.special_features, film.fulltext, film_actor.actor_id, actor.first_name, actor.last_name
  FROM film AS film
  FULL JOIN
  film_actor as film_act_actor.film_id
  FULL JOIN
  actor AS actor
  ON film_actor.last_update = actor.last_update;